* {
    margin: 0;
    padding: 0;
}/* header */
header {
    background-color: skyblue;
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    width: auto;
    height: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo {
    font-size: 40px;
    padding: 15px 0;
}
.logo:hover {
    letter-spacing: 1px;
    font-size: 45px;
    color: orangered;
    transition: .3s;
}
/* navbar */
nav li {
    list-style-type: none;
    float: left;
    margin-left: 20px;
    font-size: 24px;
    padding: 25px 0;
}
nav li a {
    color: red;
    text-decoration: none;

}

nav li a:hover {
    color: orangered;
    text-decoration: none;
    border-bottom: 2px solid blue;
    transition: .2s;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: bold;
}
/* main */
main {
    justify-content: center;
}
.top-wrapper img {
    display: block;
    width: 300px;
    float: left;
    margin: auto;
    padding-left: 50px;
}
.profil {
    text-align: center;
    padding:70px;
}
.profil h1, h2 {
    padding: 15px;
}
.profil p {
    padding:3px 3px 20px 3px;
}
main hr {
    width: 75%;

}